@model DotNet7StudLTE.Models.Student
@{
    Layout = "_LayoutDashBoard";

}

<style>
    dt::after {
        content: ": ";
    }

    dl {
        display: grid;
        grid-template-columns: max-content auto;
    }

    dt {
        grid-column-start: 1;
    }

    dd {
        grid-column-start: 2;
    }

</style>

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/Student/Index">Home</a></li>
                    <li class="breadcrumb-item active">Student Details</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<section class="content">
    <div class="row">
        <div class="col-md-9">

            <form asp-action="DeleteStudent">
                <div class="card card-outline card-info">
                    <div class="card-header">
                        <h1 class="card-title">
                            <b><h4><i class="fas fa-building"></i> Student Details</h4></b>
                        </h1>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <input type="hidden" asp-for="StudentID" />
                        <div>
                            <dl>
                                <dt>
                                    @Html.DisplayNameFor(model => model.StudentID)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.StudentID)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.FirstName)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.FirstName)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Surname)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Surname)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.DepartmentName)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.DepartmentName)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Birthday)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Birthday)
                                </dd>
                            </dl>
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</button>
                            <a asp-action="Index" class="btn btn-default">Back to List</a>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

</section>





