@model IEnumerable<Student>
@{
    Layout = "_LayoutDashBoard";
    ViewData["IndexInfo"] = "Display all the students that have been registered in the system for tracking and management";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="../Dashboard/Index">Home</a></li>
                    <li class="breadcrumb-item active">Student List</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="row">
    <div class="col-md-3">
        <a style="margin-bottom:10px;" asp-action="Create" class="btn btn-primary btn-block margin-bottom"><i class="fas fa-plus-square"></i> <span>New Student</span></a>
        <input type="hidden" id="transMessage" />

        <div class="card" style="padding-top:10px;">
            <div class="card-header">
                <h3 class="card-title">Manage Students</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    @*    <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                    </button>*@
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <ul class="products-list product-list-in-card pl-2 pr-2">
                    <li><a href="@Url.Action("DetailsInactive", "Student")"><i class="fas fa-circle text-red"></i> Inactive</a> <hr /></li>
                    @*<li><a href="@Url.Action("Index", "Receiving")"><i class="fas fa-circle text-red"></i> Suspended</a></li>*@
                    @*<li><a href="@Url.Action("Index", "TransferOrder")"><i class="fas fa-circle text-light-blue"></i> Transfer Order</a></li>*@
                </ul>
            </div>
            <!-- /.card-body -->
            @* <div class="card-footer text-center">
            <a href="javascript:void(0)" class="uppercase">View All Products</a>
            </div>*@
            <!-- /.card-footer -->
        </div>

        @*<div class="card">
        <div class="card-header">
        <h3 class="card-title">Product Out</h3>

        <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
        </button>
        @* <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
        </button>
        </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
        <ul class="products-list product-list-in-card pl-2 pr-2">
        <li><a href="@Url.Action("Index", "SalesOrder")"><i class="fas fa-circle text-red"></i> Sales</a></li>
        <li><a href="@Url.Action("Index", "Shipment")"><i class="fas fa-circle text-yellow"></i> Shipment</a></li>
        <li><a href="@Url.Action("Index", "TransferOrder")"><i class="fas fa-circle text-light-blue"></i> Transfer Order</a></li>
        </ul>
        </div>
        <!-- /.card-body -->
        <div class="card-footer text-center">
        <a href="javascript:void(0)" class="uppercase">View All Products</a>
        </div>
        <!-- /.card-footer -->
        </div>*@
    </div>
    <!-- /.col -->
    <div class="col-md-9">

        <div class="box box-primary">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">
                        <b><h4><i class="fas fa-user-graduate"></i> Student List</h4></b>
                    </h1>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstName)
                                </th>
                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.Surname)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Birthday)
                                </th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="tools">
                                            <a asp-action="Edit" asp-route-id="@item.StudentID" class="btn btn-primary btn-xs"><i class="fas fa-pencil-alt"></i></a>
                                            <a asp-action="Details" asp-route-id="@item.StudentID" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                                            <a asp-action="Delete" asp-route-id="@item.StudentID" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                                        </div>

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>
                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.Surname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Birthday)
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstName)
                                </th>
                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.Surname)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Birthday)
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.box-body -->
            <div class="box-footer no-padding">
            </div>
        </div>
        <div class="callout callout-info">
            <h4><i class="fa fa-info"></i> Info:</h4>
            <p>
                @ViewBag.IndexInfo
            </p>
        </div>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<!-- DataTables -->
